@charset "UTF-8";

@font-face {
    font-family: 'Kibon';
    src: url('Fontes/font-bold.otf') format('opentype');
    font-weight: normal;
}

header > div {
    background-color: #DE2727;
    color: #DE2727;
    padding: 15px;
    margin: -10px;
}
header > img {
    display: inline;
    height: 100px;
    width: 100px;
    margin: -25px 0px -19px 15px;
}

nav {
    display: inline-flex;
}

nav > a {
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 1.3em;
    padding-bottom: 30px;
    margin: 15px 0px 15px 0px;
    text-indent: 50px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.198);
}

main {
    min-width: 300px;
    max-width: 1100px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.432);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.produto-central {
    display: inline;
    width: 400px;
}

.imagem-central {
    height: 400px;
    width: 400px;
}

.descricao-produto {
    display: inline-block;
    height: 250px;
    width: 600px;
    position: relative;
}

.descricao-produto > h1 {
    font-family: 'Kibon', sans-serif;
    
}

.descricao-produto > p {
    font-family: sans-serif;
    font-weight: bold;
}
article > h2 {
    font-family: 'Kibon', sans-serif;
}

article > h3 {
    display: inline;
    margin: 30px;
    font-family: 'Kibon' ,sans-serif;
    font-weight: bold;
}

.tabela-nutricional {
    font-family: 'Kibon' , sans-serif;
    background-color: #FFE363;
    text-align: center;
    height: 200px;
    padding-top: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.tabela-nutricional > h1 {
    margin-bottom: 0px;
}

.tabela-conteudo {
    background-color: white;
    color: white;
    border-radius: 15px;
    margin: 0px 40px;
    height: 100px;
    
}

aside > h1 {
    text-align: center;
    font-family: 'Kibon' , sans-serif;
    font-size: 3em;
}

.morango > h3 {
    text-align: center;
    font-family: 'Kibon' , sans-serif;
    font-weight: 3em;
}

.morango > p {
    text-align: center;
    color: #717171;
}

.morango {
    display: inline-flex;
    flex-direction: column;
    width: 240px;
    height: 550px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.167);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 0px 15px;
}

.eskibon > h3 {
    text-align: center;
    font-family: 'Kibon' , sans-serif;
    font-weight: 3em;
}

.eskibon > p {
    text-align: center;
    color: #717171;
}

.eskibon {
    display: inline-flex;
    flex-direction: column;
    width: 240px;
    height: 550px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.167);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 0px 15px;
}

.doce-de-leite > h3 {
    text-align: center;
    font-family: 'Kibon' , sans-serif;
    font-weight: 3em;
}

.doce-de-leite > p {
    text-align: center;
    color: #717171;
}

.doce-de-leite {
    display: inline-flex;
    flex-direction: column;
    width: 240px;
    height: 550px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.167);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 0px 15px;
}

.tradicional > h3 {
    text-align: center;
    font-family: 'Kibon' , sans-serif;
    font-weight: 3em;
}

.tradicional > p {
    text-align: center;
    color: #717171;
}

.tradicional {
    display: inline-flex;
    flex-direction: column;
    width: 240px;
    height: 550px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.167);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 0px 15px;
}

footer {
    height: 500px;
    margin: -15px;
    background-color: #DE2727;
}

.imagem-rodape {
    display: block;
    height: 100px;
    width: 100px;
    margin: auto;
}

.logo-rodape {
    height: 100px;
    width: 100px;
}

.juridico {
    color: white;
    display: inline-flex;
    flex-direction: column;
    width: 240px;
    height: 200px;
    margin: 0px 15px 0px 35px;
}

.juridico > h2 {
    font-family: 'Kibon', sans-serif;
}

.ajuda {
    color: white;
    display: inline-flex;
    flex-direction: column;
    width: 240px;
    height: 200px;
    margin: 0px 15px 0px 25px;
}

.ajuda > h2 {
    font-family: 'Kibon', sans-serif;
}

.siga {
    color: white;
    display: inline-flex;
    flex-direction: column;
    width: 240px;
    height: 200px;
    margin: 0px 15px 0px 25px;
}

.local {
    color: white;
    display: inline-flex;
    flex-direction: column;
    width: 240px;
    height: 200px;
    margin: 0px 15px 0px 25px;
}

.local > h2 {
    font-family: 'Kibon', sans-serif;
}

footer > p {
    color: white;
    
}

.juridico > a {
    color: white;
    line-height: 1.8em;
    font-family: sans-serif;
}

.ajuda > a {
    color: white;
    line-height: 1.8em;
    font-family: sans-serif;
}

.local > p {
    color: white;
    font-family: sans-serif;
}

.local > p > a {
    color: white;
    font-family: sans-serif;
}

footer > p {
    margin: 30px 20px;
}

.siga > h2 {
    font-weight: bold;
}